//cutom.scss

$primary: teal;
$secondary: green;

$light: white;

$font-family-sans-serif:      'Montserrat', sans-serif;
$font-family-monospace:       'Cormorant', serif;

h1 {
    font-family: $font-family-monospace;
}

@import "../bootstrap/scss/bootstrap";